---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import Counter from "../components/Counter";
const someProps = {
  count: 0,
};
---

<Layout title="Arcade Transaction System">
  <main>
    <div>
      <h1>Arcade Transaction System</h1>
      <ul>
        <a href="/kiosk">Kiosk</a>
      </ul>
    </div>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

    font-size: 1.4em;
  }

  a {
    font-size: 1.2em;
  }
</style>
